.header {
    background-color: var(--bg-secondary);
    padding: 4rem 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.title {
    font-size: 2.5rem;
    color: var(--text-primary);
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.1rem;
    color: var(--text-secondary);
}